@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global styles
------------------------------------*/
* {
    /* Remove Chrome default margins */
    margin: 0 !important;
    font-family: 'Raleway', sans-serif;
}
body {
    background: black;
    display: flex;
    justify-content: center;
}
main {
    position: relative;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 10px !important;
    height: 50px;
    display: grid;
    grid-template-areas: 
    "more brand";
    grid-template-columns: 25px auto;
}
    header h1 {
        grid-area: brand;
        margin: 0 !important;
        padding: 0 !important;
    }
        header h1 a {
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: 32px !important;
            font-weight: bold;
            text-decoration: none;
            
        }
        header h1 a:hover {
            color: white;
        }

    #pulldown-container {
        grid-area: more;
        position: relative;
    }
        #pulldown {
            list-style: none;
            margin: 0 !important;
            padding: 0;
        }
            header>ul>li {
                margin: 0;
            }
            #pulldown-btn {
                color: white;
                font-size: 25px;
                position: absolute;
                top: 12px;
                transition: .5s ease;
            }
        #nav-pulldown {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 20vw;
            
            color: white;
            background-color: rgb(22, 22, 22);
            list-style: none;
            transition: .5s ease;
            z-index: 999;

            visibility: hidden;
            opacity: 0;
            
            text-align: center;
        }
            #close-hamburger-btn {
                cursor: pointer;
                color: white;
                font-size: 30px;
            }
            #nav-pulldown li {
                margin-top: 20px !important;
                margin-right: 1.45vw !important;
                font-size: 20px;
                font-weight: bold;
                color:#ffd4be;
            }
                #nav-pulldown li a {
                    color:#ffd4be;
                }
        header>#pulldown-container>ul>li:hover #pulldown-btn{
            opacity: 0.7;
            cursor: pointer;
        }








/* ABOUT */
#about {
    color: white;
    margin-top: 100px !important; 
    margin-bottom: 200px !important;
    /* background: royalblue; */
}
#about-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
}
#about-text h2 {
    margin-top: 30px !important;
}
#about p {
    margin-top: 30px !important;
    max-width: 40%;
    font-size: 20px;
}


/* Experience */
#experiences-header {
    font-size: 40px;
    color: white;
    margin-top: 0px !important;
    margin-bottom: 30px !important;
    font-weight: 600;
}
#experiences {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    margin-bottom: 200px !important;
}
.experience-card-container {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-areas:
        "logo info";
    grid-template-columns: 200px calc(100% - 400px);
    margin-bottom: 50px !important;
}
    .experience-logo {
       grid-area: logo;
       background-color: white;
       background-position: center;
       background-size: cover;
       height: 200px;
    }
    .experience-info {
        grid-area: info;
        padding-left: 30px;
        color: white;
    }
        .experience-company {
            font-size: 27px;
            font-weight: 600;
        }
        .experience-title {
            font-size: 19px;
            padding-top: 6px;
        }
        .experience-date {
            font-size: 14px;
            padding-top: 3px;
        }
        .experience-summary {
            font-size: 17px;
            padding-top: 20px;
        }


/* Projects */

#projects-header {
    font-size: 40px;
    color: white;
    margin-top: 0px !important;
    font-weight: 600;
    margin-bottom: 30px !important;
}
#projects {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    margin-bottom: 300px !important;
}
.project-card-container {
    box-sizing: border-box;
    width: 50%;
    height: 800px;
    padding-right: 2%;
    padding-bottom: 2%;
}
.project-card-container:nth-child(2n) {
    padding-right: 0;
}
.project-card-gray {
    background-color: rgb(97, 96, 107);
    height: 100%;
    width: 100%;
    position: relative;
}
.project-card-content {
    position: absolute;
    left: 6%;
    top: 8%;

    width: 88%;
    height: 84%;
    position: absolute;
    background-size: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-overlay {
    color: white;
    font-size: 20px;

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.project-card-container:hover .project-card-content {
    opacity: 0.08;
}

.project-card-container:hover .project-overlay {
    opacity: 1;
}


/* Resume */
.resume {
    margin-top: 200px !important;
    background-image: url(backgrounds/resume330.png);
    height: 1000px;
    width: 63%;
}

.three-vertical-dots {
    color: white;
}



@media (max-width: 1600px) {
    #about p {
        max-width: 60%;
    }
    .project-card-container {
        height: 600px;
    }
}
@media (max-width: 1200px) {
    #about p {
        max-width: 80%;
    }
    .project-card-container {
        width: 100%;
        padding-right: 0 !important;
    }
    .project-overlay {
        font-size: 17.5px;
    }
}
@media (max-width: 1000px) {
    #nav-pulldown {
        width: 30vw;
    }
    #nav-pulldown li {
        margin-right: 11.60vw !important;
    }
}
@media (max-width: 800px) {
    #about p {
        max-width: 100%;
    }
    #nav-pulldown {
        width: 40vw;
    }
    .project-card-container {
        height: 450px;
    }
    main {
        width: 90vw;
    }
}