@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global styles
------------------------------------*/
* {
    /* Remove Chrome default margins */
    margin: 0 !important;
    font-family: 'Raleway', sans-serif;
}
body {
    background: black;
    display: flex;
    justify-content: center;
}
main {
    position: relative;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


header {
    height: 50px;
    display: grid;
    grid-template-areas: 
    "brand email more";
    grid-template-columns: 230px 200px auto;
}
    header h1 {
        grid-area: brand;
        margin: 0 !important;
        padding: 0 !important;
    }
        header h1 a {
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: 32px !important;
            font-weight: bold;
            text-decoration: none;
            
        }
        header h1 a:hover {
            color: white;
        }
    #email-container {
        grid-area: email;
        padding-top: 15px;
    }
        header #email {
            color: #ffd4be;
            font-size: 20px;
        }









/* ABOUT */
#about {
    color: white;
    margin-top: 200px !important; 
    /* background: royalblue; */
}
#about-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
}
#about-text h2 {
    margin-top: 30px !important;
}
#about p {
    margin-top: 30px !important;
    max-width: 30vw;
    font-size: 20px;
}


/* Projects */

#projects-header {
    font-size: 40px;
    color: white;
    margin-top: 300px !important;
    margin-bottom: 30px !important;
}
#projects {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    margin-bottom: 300px !important;
}
.project-card-container {
    box-sizing: border-box;
    width: 50%;
    height: 500px;
    padding-right: 2%;
    padding-bottom: 2%;
}
.project-card-container:nth-child(2n) {
    padding-right: 0;
}
.project-card-gray {
    background-color: rgb(97, 96, 107);
    height: 100%;
    width: 100%;
    position: relative;
}
.project-card-content {
    position: absolute;
    left: 10%;
    top: 15%;

    width: 80%;
    height: 70%;
    position: absolute;
    background-size: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-overlay {
    color: white;
    font-size: 20px;

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.project-card-container:hover .project-card-content {
    opacity: 0.08;
}

.project-card-container:hover .project-overlay {
    opacity: 1;
}


/* Resume */
.resume {
    margin-top: 200px !important;
    background-image: url(backgrounds/resume330.png);
    height: 1000px;
    width: 63%;
}

.three-vertical-dots {
    color: white;
}





@media (max-width: 1300px) {

}